:root{
    --logo-font: "Helvetica Rounded", Arial, sans-serif;
    --color-lightgreen: #1ABC9C;
    --color-darkblue: #34495e;
    --color-lightgrey: #F8F9F8;
    --color-grey-background: #FCF9F9;
    --main-font: "Arial Rounded MT Bold";
}


/* NAVBAR */
nav{
    box-shadow: none!important;
    width: 100%;
    font-family: var(--logo-font);
    overflow: hidden;
    z-index: 2;
    color: black;
}

.hidden{
    visibility: hidden;
}
.nav-wrapper{
    width: 98%;
    margin: 0 auto;
    background-color: white;
}

#nav-mobile li a{
    font-size: 15px;
    color: black
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
#nav2{
    border: 1px solid lightgrey;
}
/* NAVBAR */


/* INDEX PAGE */
.index-nav-container{
    margin: 0 auto;
   /* justify-content: center; */
    width: 100%;
    height: 10vh;
    z-index: 2;
}
.index-nav{
    background-color: white;
    text-align: center;
}
.index-nav a{
    width: 50%;
    padding: 5%;
    color: black;
    font-size: 15px ;
    
}
#aboutpage-1{
    overflow: auto;
    padding-top: 5%;
    padding-bottom: 8%;
    /* min-height: 700px */
}       

#aboutpage-1 img{
    width: 90%;
    padding: 5%;
}

#aboutpage-1 h1{
    justify-content: left;
    text-align: left;   
    font-size: 10vh;
    color: var(--color-lightgreen);
    padding-bottom: 3vh;
}


#aboutpage-1 span{
    font-weight: bold;
    color: var(--color-darkblue);
    font-size: 3vh;
    letter-spacing: 1px;
}
#aboutpage-1 h6{
    font-size: 2vh;
    letter-spacing: 1px;
    line-height: 150%;
}

#aboutpage-1-content{
    height: 60vh;
    position: relative;
    animation-name: intro;
    animation-duration: 2s;
}


@keyframes intro {
    0%   { transform: translateY(-200%) }
    100% { transform: translateY(0%) }
}

#aboutpage-2{
    padding-top: 2%;
    padding-bottom: 6%;
    background-color: var(--color-darkblue);
    width: 100%;
    justify-content: center;
    vertical-align: middle;
    /* text-align: center; */

}
#aboutpage-2 h5{
    width: 80%;
    display: flex;
    margin: 0 auto;
    color: var(--color-lightgreen);
    padding: 5% 0% 2% 5%;
    font-size: 6vh;
    font-weight:bold;
    letter-spacing: 1px;
}

#aboutpage-2 h4{
    font-size: 3vh;
    /* color: #3F3E3E; */
    font-weight:bold;
    letter-spacing: 2.5px;
    padding-bottom:%;
}

#aboutpage-2 p{
    font-size: 2vh;
    letter-spacing: 1px;
    line-height: 160%;
    font-weight: 100%;
}

#aboutpage-2-content{
    width: 80%;
    display: flex;
    margin: 0 auto;
}
#aboutpage-2-content div{
    color: #fff;
    width: 50%;
    padding-left: 10vh;
    padding-right: 10vh;
    text-align: left;
    /* background-color: blue; */
}


#aboutpage-3 div div div{
    /* animation-name: about3_div; */
    /* animation-duration: 3s; */
    width: 20%;
    /* justify-content: center; */
    /* align-content: center; */
}

@keyframes about3_div {
     0%   { left:-200%; }
     100% { left:0%; }
}

#aboutpage-3 h5, #aboutpage-4 h5{
    font-size: 5vh;
    font-weight:bold;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 3%;
    letter-spacing: 1px;
}


#aboutpage-3 div h4{
    padding-top: 5%;
    font-size: 2vh;
    font-weight:bold;
    text-align: center;
    letter-spacing: .5px;
}
.col-md-3 h4{
    text-align: center;
}

#aboutpage-3 div p{
    padding: 5% 5% 0% 5%;
    font-size: 2vh;
    letter-spacing: .5px;
    text-align: center;
}

#aboutpage-3 img{
    width: 50%;
}

#about3_row1 {
    padding-top: 5%;
    padding-bottom: 1%;
}

#about3_row2 {
    padding-bottom: 5%;
}

/* GRAPH SECTION */
.graph-emergency{
    justify-content: center;
    text-align: center;
}
.graph-emergency h4{
    top: 0;
    font-size: 6vh;
    text-align: center;
    margin-top: 20%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
   justify-content: center;
}

.graph-emergency button{
    background-color: var(--color-lightgreen);
    font-size:2vh;
    padding: 5%;
    color: white;
    width: 50%;
    justify-content: center;
    text-align: center;
    margin-bottom: 15%;
    
}
/* GRAPH SECTION */


#aboutpage-4{
    padding-top: 3%;
    padding-bottom: 10%;
    background-color: var(--color-lightgrey);
    width: 100%;
    justify-content: center;
    vertical-align: middle;
}

#aboutpage-4 h5{
    color: var(--color-lightgreen);
}

.steps{
    width: 40%;
    height: 100%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.steps .feature-icon{
    /* width: 100%; */
    margin: 0 auto;
    padding-left: 30%;
}

.feature-icon .icon{
    z-index: 1;
}

.step-content{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 45%;
}



.feature-icon:before {
    content: "";
    position: absolute;
    left: 15%;
    height: 10px;
    width: 70%;
    top: 50px;
    background: var(--color-lightgreen);
    right: 0;
    z-index: 0;
}


.feature-icon .icon {
    border: 10px solid var(--color-darkblue);    
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    background: #fff;
}


.feature-icon .icon > div {
    background: #fff;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    text-align: center;
    line-height: 85px;
}

.feature-icon .icon img {
    width: 60px;
    height: 60px;
}

.feature-icon .content_work {
    margin-left: 150px;
    margin-top: 4px;
    display: block;
}

span.step {
    font-size: 20px;
    font-style: bold;
    letter-spacing: 1px;
    color: var(--color-lightgreen);
}

.feature-icon .content_work p{
    font-size:2vh;
}

.feature-icon .content_work h4{
    font-size:2.5vh;
}

/* INDEX PAGE */


/* FOOTER */
#start-here{
    font-family: var(--main-font);
    width: 100%;
    margin: 0 auto;
    height: 50vh;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}
#start-here span{
    text-align: center;
    font-size: 2vh;
    padding: 1vh;
    width: 100%;
    display: block
}
.start-here-button{
    background-color: var(--color-lightgreen);
    font-size:4vh;
    padding: 1%;
    color: white;
    width: 20%;
    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

footer div{
    font-family: var(--main-font);
    width: 100%;
    height: 30vh;
    background-color: black;
    /* margin: 0 auto; */
    display: flex;
}
footer div div{
    /* height: 100%; */
    width: 50%;
    padding: 15vh;
    text-align: right;
    /* background-color: blue; */
    color: grey;
    font-size: 3vh;
    
}
/* FOOTER */


/* ABOUT PAGE */
#about-top{
    width: 100%;
    background-color: var(--color-lightgreen);
    height: 35vh;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 4vh;
}


#about-top h2{
    padding: 7% 10% 5% 10%;
    letter-spacing: 1px;
    line-height: 130%;
}

#left-text-right-picture, #right-text-left-picture{
    width: 80%;
    height: 75vh;
    display: flex;
    margin: 0 auto;

}
#right-text-left-picture{
    background-color: #FCF9F9;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
#left-text-right-picture span, #right-text-left-picture span{
    width: 50%;
    height: 100%;
    display: block;
    padding: 50px;
    font-size: 3vh;
    letter-spacing:1px;
}

#left-text-right-picture h3, #right-text-left-picture h3{
    font-size: 5vh;
    padding-top:15%;
    padding-bottom:5%;
}

#image-container{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: block;
    padding: 5vh;
    right: 0;
}
#image-container img{
    width: 100%;
    /* padding: 5vh; */
}


/* ABOUT PAGE */

@media only screen and (max-width: 1000px){
    #aboutpage-1-content{
        left: 40%;
        animation-name: intro;
        animation-duration: 2s;
        /* text-align: center; */
        /* align-content: center; */
        /* margin: 0 auto; */
    }
    @keyframes intro {
        0%   { left:0px; }
        100% { left:40%; }
    }       
}
@media only screen and (max-width: 764px){
    .container{
       width: 90%;
    }
    
}