:root{
    font-family:  'Arial Narrow Bold', sans-serif;
    --main-darkred: rgb(200, 47, 47);


}

/* NAVBAR */
nav{
    width: 100%;
    /* background-color: white; */
}
.nav-wrapper{
    width: 98%;
    margin: 0 auto;
    background-color: white;
    color: black;
}

#nav-mobile li a{
    color: black
}
/* NAVBAR */


/* INDEX PAGE */
.index-nav-container{
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    height: 10vh;
    z-index: 2;
}
.index-nav{
    background-color: white;
    text-align: center;
}
.index-nav a{
    width: 50%;
    padding: 5%;
    color: black;
    
}
#aboutpage-1{
    padding-top: 5%;
    width: 80%;
    height: 40%;
    display: flex;
    margin: 0 auto;
}
#aboutpage-1 img{
    width: 50%;
    height: 100%;
}
#aboutpage-1 h1{
    /* justify-content: center;
    text-align: center;
    width: 40%;
    vertical-align: middle; */
    font-size: 12vh;
    color: var(--main-darkred);
    padding-top: 4vh;
}
#aboutpage-1 span{
    font-weight: bold;
    font-size: 2.5vh;
}

#aboutpage-2{
    /* padding: 3%; */
    background-color: lightgray;
    width: 100%;
    justify-content: center;
    /* text-align: center; */
    height: 40vh;
}
#aboutpage-2 h5{
    width: 80%;
    display: flex;
    margin: 0 auto;
    color: var(--main-darkred);
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left: 5%;
    font-size: 4vh;
}
#aboutpage-2-content{
    width: 80%;
    display: flex;
    margin: 0 auto;
    color: black;
}
#aboutpage-2-content div{
    color: black;
    width: 50%;
    padding-left: 10vh;
    padding-right: 10vh;
    text-align: left;
    /* background-color: blue; */
}

#aboutpage-3{
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 50vh;
    /* background-color: purple; */
}
div h5{
    font-size: 4vh;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 3%;
}
#aboutpage-3 div{
    padding-top: 3vh;
    margin: 0 auto;
    width: 20%;
}
#aboutpage-3 div div{
    color: var(--main-darkred);
    font-size: 2.5vh;
    padding-bottom: 2vh;
    width: 100%;
    text-align: center;
}
#aboutpage-3 div img{
    width: 100%;
    border: solid var(--main-darkred)
}

#aboutpage-4{
    width: 80%;
    margin: 0 auto;
    height: 40vh;
    justify-content: center;
    text-align: center;
    padding: 1vh;
}
#aboutpage-4 span{
    text-align: center;
    font-size: 2vh;
    padding: 1vh;
    width: 100%;
    display: block
}
#aboutpage-4 button{
    background-color: var(--main-darkred);
    font-size:4vh;
    padding: 1%;
    color: white;
    width: 20%;
    
}

footer div{
    width: 100%;
    height: 30vh;
    background-color: black;
    /* margin: 0 auto; */
    display: flex;
}
footer div div{
    /* height: 100%; */
    width: 50%;
    padding: 15vh;
    text-align: right;
    /* background-color: blue; */
    color: grey;
    font-size: 3vh;

}

/* INDEX PAGE */

/* ABOUT PAGE */
#about-top{
    width: 100%;
    background-color: var(--main-darkred);
    height: 35vh;
    padding: 12vh;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 4vh;
}
/* ABOUT PAGE */