:root{
    font-family: "Helvetica Rounded", Arial, sans-serif;
    --main-darkred: rgb(200, 47, 47);
    --main-font: "Arial Rounded MT Bold"

}


/* NAVBAR */
nav{
    width: 100%;
    font-family: var(--main-font);
    overflow: hidden;
}
.nav-wrapper{
    width: 98%;
    margin: 0 auto;
    background-color: white;
    color: black;
}

#nav-mobile li a{
    color: black
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
/* NAVBAR */


/* INDEX PAGE */
.index-nav-container{
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    height: 10vh;
    z-index: 2;
}
.index-nav{
    background-color: white;
    text-align: center;
}
.index-nav a{
    width: 50%;
    padding: 5%;
    color: black;
    
}
#aboutpage-1{
    padding-top: 5%;
    width: 80%;
    height: 40%;
    display: flex;
    margin: 0 auto;
}
#aboutpage-1 img{
    width: 50%;
    height: 100%;
}
#aboutpage-1 h1{
    /* justify-content: center;
    text-align: center;
    width: 40%;
    vertical-align: middle; */
    font-size: 12vh;
    color: var(--main-darkred);
    padding-top: 4vh;
}
#aboutpage-1 span{
    font-weight: bold;
    font-size: 2.5vh;
}

#aboutpage-2{
    /* padding: 3%; */
    background-color: lightgray;
    width: 100%;
    justify-content: center;
    vertical-align: middle;
    /* text-align: center; */
    height: 50vh;
}
#aboutpage-2 h5{
    width: 80%;
    display: flex;
    margin: 0 auto;
    color: var(--main-darkred);
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left: 5%;
    font-size: 4vh;
}
#aboutpage-2-content{
    width: 80%;
    display: flex;
    margin: 0 auto;
    color: black;
}
#aboutpage-2-content div{
    color: black;
    width: 50%;
    padding-left: 10vh;
    padding-right: 10vh;
    text-align: left;
    /* background-color: blue; */
}

#aboutpage-3{
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 50vh;
    /* margin-bottom: 7vh; */
}
div h5{
    font-size: 4vh;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 3%;
}
#aboutpage-3 div{
    padding-top: 3vh;
    margin: 0 auto;
    width: 20%;
}
#aboutpage-3 div div{
    color: var(--main-darkred);
    font-size: 2.5vh;
    padding-bottom: 3vh;
    width: 100%;
    text-align: center;
}
#aboutpage-3 div img{
    width: 100%;
    border: solid var(--main-darkred);
}
/* INDEX PAGE */


/* FOOTER */
#start-here{
    font-family: var(--main-font);
    width: 100%;
    /* padding-left: 10%;
    padding-right: 10%; */
    margin: 0 auto;
    height: 50vh;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    /* padding: 1vh; */
}
#start-here span{
    text-align: center;
    font-size: 2vh;
    padding: 1vh;
    width: 100%;
    display: block
}
#start-here button{
    background-color: var(--main-darkred);
    font-size:4vh;
    padding: 1%;
    color: white;
    width: 20%;
    
}

footer div{
    font-family: var(--main-font);
    width: 100%;
    height: 30vh;
    background-color: black;
    /* margin: 0 auto; */
    display: flex;
}
footer div div{
    /* height: 100%; */
    width: 50%;
    padding: 15vh;
    text-align: right;
    /* background-color: blue; */
    color: grey;
    font-size: 3vh;
    
}
/* FOOTER */


/* ABOUT PAGE */
#about-top{
    width: 100%;
    background-color: var(--main-darkred);
    height: 35vh;
    padding: 12vh;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 4vh;
}

#left-text-right-picture, #right-text-left-picture{
    width: 80%;
    height: 50vh;
    display: flex;
    margin: 0 auto;

}
#right-text-left-picture{
    background-color: lightgrey;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
#left-text-right-picture span, #right-text-left-picture span{
    width: 50%;
    height: 100%;
    display: block;
    padding: 6vh;
    font-size: 2.5vh;
}
#image-container{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: block;
    padding: 5vh;
    right: 0;
}
#image-container img{
    width: 100%;
    height: 100%;
    /* padding: 5vh; */
    border: solid var(--main-darkred);
}
/* ABOUT PAGE */